* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Body */

body {
    height: 100vh;
    background-color: aqua;
    background-image: url(africa.jpg);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}
a:hover {
    color: orange;
}

/* Header */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    color: aliceblue;
    scale: 1.05;
}

/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(214, 212, 116, 0.301);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 180px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hero */

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}


/* Responsive Design */

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    
    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu {
        display: block;

    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*contact page css*/
.title {
    color: #ffffff;
    text-align: center;
    margin-top: 1.5em;
}
fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 800px;
    color: white;
    background-color: rgba(255, 255, 255, 0.134);
    backdrop-filter: blur(8px);

}

legend {
    font-size: 1.25em;
    padding: 0 0.25em;
    color: #ffffff;
    text-align: center;
}

label {
    display: block;
    margin-top:0.7em;
}

.checks label {
    display: inline-block;
    margin-top: 0;
}

label:first-of-type {
    margin-top: 1.5em;
}

input {
    padding: 0.5em;
    border: solid 1px #999;
    border-radius: 6px;
}

input [type="email"] , input [type="text"] {
    width: 15em;
}

.checks {
    margin-bottom: 1em;
}
.checks p {
    margin-bottom: -0.75em;
}

input[type="submit"] {
    padding: 0.5em 1em;
    border-radius: 6px;
    background-color: #333;
    color: #ffffff;
    font-size: 0.8em;
}

@media screen and (min-width: 430px) {
    legend {
        font-size: 1em;
    }

    fieldset {
        width: 40%;
        min-width: 600px;
        margin: auto;
    }

    .checks label {
        display: inline-block;
        padding-top: 1em;
        margin-top: 0;
        margin-right: 0.5em;
    }
    
}

/*submit page*/
.sub {
    color: #ffffff;
    text-align: center;
    font-size: 0.75em;
    
    margin-top: 1.5em;
}